/Main.class
/Scacchiera.class
/Gettone.class
/Scacchiera$Gettone.class
/Main$1.class
/Main$ScacchieraClickListener.class
/Pedina.class
/Tavolo.class
/Main$Menu.class
/Main$2.class
/Main$3.class
/Main$Listener.class
/TavoloLogic.class
/Main2.class
/Main2$1.class
/Main2$2.class
/Main2$Listener.class
/Main2$3.class
